body { 
    background-color:rgb(177, 248, 248) ;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);

}
hr {
    background-size: contain;
   
     background-position-y: center;
    border-style:dotted none none;
    border-color: rgb(174, 53, 53);
    border-width: 10px;
   

    width: 5%;
}
h1{
   color: blue;
    

}
h2{
    color: brown;
}
img{
    background: red;
    color: black;
}
.bot{
     color: beige;
}
#paragraph{
    color: antiquewhite;
}
.brownie{
    color:blue;
}
